.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.Header{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.idDiv{
  display: none;
}

.Components {
  margin: 10px 0;
  background-color: #282c34;
  min-height: 130vh;
  max-height: 130vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.status-title{
  text-align: center;
  color: cyan;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.status-title:hover{
  transform: scale(1.5);
}

.status, .title{
  color: cyan;
}

.column-container{
display: inline-block;
width: 33%;
position: relative;
text-align: center;
}

.card-entry{
display: inline-block;
padding: 15px;
color: white;
border: 1px solid white;
transition: transform .2s;
width: 350px;
height: 200px;
margin: 0 auto;
animation: blinker 2s linear infinite;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes blinker { 
  50% { border-color: cyan; } 
}

.card-entry:hover {
  transform: scale(1.5);
  background-color: #282c34;
}

#edit_submit{
  color: cyan;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
#deleteBtn{
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  .App-link {
    color: #61dafb;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {  
    transform: rotate(360deg);
  }
}

.left {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
   border: solid cyan ;
  border-width: 0 3px 3px 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


.right {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  border: solid cyan;
   color: transparent;
   border-width: 0 3px 3px 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.add-card-form{
  text-align: center;
  margin-top: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.EditCardForm-container{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
