.App {
  text-align: center;
}

.Components {
  margin: 10px 0;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}
.status-title{
  text-align: center;
  color: cyan;
}
.status-title:hover{
  transform: scale(1.5);
}
.status, .title{
  color: cyan;
}
.column-container{
display: inline-block;
width: 33%;
height: 100%;
text-align: center;

}

.card-entry{
display: inline-block;
padding: 15px;
color: white;
border: 1px solid white;
transition: transform .2s;
width: 350px;
height: 200px;
margin: 0 auto;
}

.card-entry:hover {
  transform: scale(1.5);
  background-color: #282c34;
}

  .App-link {
    color: #61dafb;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {  
    transform: rotate(360deg);
  }
}

.add-card-form{
  text-align: center;
  margin-top: 350px;
}

